@model IEnumerable<Distance_Analyzer.Services.MapsService.Result>

@using (Html.BeginForm("Scrub", "Home", FormMethod.Post))
{
    @Html.Label("Raw Address")
    @Html.TextArea("raw_address")

    <button type="submit">Scrub</button>
}

@if (Model.Any())
{
    <table class="table">
        @foreach (var result in Model)
        {
            <td>@Html.DisplayFor(_ => result)</td>
        }
    </table>
}