@model IEnumerable<Distance_Analyzer.Services.MapsService.Result>

@using (Html.BeginForm("Scrub", "Home", FormMethod.Post, new { @class = "form-horizontal", role = "form" }))
{
    <div class="form-group form-group-xlg">
        @Html.Label("Raw Address")
        @Html.TextArea("raw_address", new { @class = "form-control" })
    </div>

    <button type="submit">Scrub</button>
}

@if (Model.Any())
{
    <table class="table">
        @foreach (var result in Model)
        {
            <td>@Html.DisplayFor(_ => result)</td>
        }
    </table>
}